.breadcrumbs
    .container
        a.breadcrumbs__item(href="/") Domů
        img.breadcrumbs__separator(src="img/icons/cheveron.svg" alt=">")
        a.breadcrumbs__item(href="/") Dřevěné boxy
        img.breadcrumbs__separator(src="img/icons/cheveron.svg" alt=">")
        span.breadcrumbs__item.--active Dřevěná bedna na 2 vína CARMEN VI