section.carousel
    .container
        .carousel-wrapper
            .carousel-inner(id="homecarousel")


                .item
                    picture 
                        img(src="img/carousel/banner1.png" width="1300" height="480" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 2" )      

                .item
                    picture 
                        img(src="img/carousel/banner1.png" width="1300" height="480" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 1" )      


                .item
                    picture 
                        img(src="img/carousel/banner1.png" width="1300" height="480" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 3" )      

                .item
                    picture 
                        img(src="img/carousel/banner1.png" width="1300" height="480" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 4" )      



            button.prev(aria-label="Zpět")
                img(src="img/icons/cheveron-white.svg" alt="Zpět" width="6" height="10")
            button.next(aria-label="Vpřed")
                img(src="img/icons/cheveron-white.svg" alt="Vpřed" width="6" height="10")


