section.contact 
    .container 
        .contact__content
            h1.contact__title Máte dotazy nebo potřebujete poradit s výběrem?
            .contact__wrap  
                .contact__item 
                    img(src="img/icons/envelope.svg" alt="info@eshop.eline.cz" width="25" height="20") 
                    .contact__text info@eshop.eline.cz
                .contact__item 
                    img(src="img/icons/phone-big.svg" alt="+420 123 456 789" width="24" height="24") 
                    .contact__text +420 123 456 789 #[small PO - PÁ 8:30 – 17:30]
            .contact__img
                img(src="img/contact-img.png" alt="" height="310" width="320")
