footer

    .container
        .row
            .col-6.col-sm-6.col-lg-3
                .footer__title O nákupu
                a.footer__link(href="#") Obchodní podmínky
                a.footer__link(href="#") Reklamační řád
                a.footer__link(href="#") Jak nakupovat
                a.footer__link(href="#") Výhody nákupu

            .col-6.col-sm-6.col-lg-3
                .footer__title O nás
                a.footer__link(href="#") O společnosti
                a.footer__link(href="#") Aktuality

            .col-6.col-sm-6.col-lg-3
                .footer__title Další odkazy
                a.footer__link(href="#") Ochrana osobních údajů
                a.footer__link(href="#") Zásady používání cookie
                a.footer__link(href="#") GDPR

            .col-6.col-sm-6.col-lg-3
                .footer__title Kontaktní informace
                p.footer__text Ondera Aleš
                p.footer__text J.Čapka 3097
                p.footer__text Frýdek-Místek, 738 01
                a.footer__link(href="/kontakty.html") Více kontaktů
                

    section.copyright
        .container
            .copyright__wrap
                .copyright__title Copyright © 2021 #[a.copyright__link(href=metaURL) #{metaSitename}]
                .copyright__author Vytvořeno v 
                    a.copyright__link(href=metaAuthorURL) #[img.lazyload(src="img/load-symbol.svg" data-src="img/eline-logo.svg" alt="eline.cz" aria-label="eline.cz")]