.modal.micromodal-slide(id="modal-info")

  .modal__overlay(tabindex="-1" data-micromodal-close)


    .modal__container(role="dialog" aria-labelledby="modal-info-title")


        .modal__header-img 
            img(src="img/info-modal.jpg" alt="Lorem ipsum dolor")
        .modal__content(id="modal-info-content")

            .modal__header

                h2.modal__title(id="modal-info-title") Lorem ipsum dolor

                button.modal__close(aria-label="Close modal" data-micromodal-close)


            
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean placerat. Nulla quis diam. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Integer imperdiet lectus quis justo. Etiam dictum tincidunt diam. Integer vulputate sem a nibh rutrum consequat.


script.
    document.addEventListener("DOMContentLoaded", () => {
        MicroModal.show('modal-info',{
            openClass: 'is-open', 
            disableScroll: true, 
            disableFocus: true, 
            awaitOpenAnimation: true,
            awaitCloseAnimation: true, 
            debugMode: false 
        }); 
    });