.modal.micromodal-slide(id="modal-delivery")

  .modal__overlay(tabindex="-1" data-micromodal-close)


    .modal__container(role="dialog" aria-labelledby="modal-delivery-title")


        .modal__content(id="modal-delivery-content")

            .modal__header

                h2.modal__title(id="modal-delivery-title") Balík na poštu

                button.modal__close(aria-label="Close modal" data-micromodal-close)


            

            
            

