.modal.micromodal-slide(id="modal-ppl")

  .modal__overlay(tabindex="-1" data-micromodal-close)


    .modal__container(role="dialog" aria-labelledby="modal-ppl-title")


        .modal__content(id="modal-ppl-content")

            button.modal__close(aria-label="Close modal" data-micromodal-close)


            #ppl-parcelshop-map

            

  