.modal.micromodal-slide(id="modal-delivery2")

  .modal__overlay(tabindex="-1" data-micromodal-close)


    .modal__container(role="dialog" aria-labelledby="modal-delivery2-title")


        .modal__content(id="modal-delivery2-content")

            .modal__header

                h2.modal__title(id="modal-delivery2-title") Balík do ruky

                button.modal__close(aria-label="Close modal" data-micromodal-close)


            

  