nav(id="mainNav")
    .container
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Akční nabídka
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Rošty
        .nav-item.expandable
            a.nav-linkDesktop(href="produkt-vypis.html") Skříně #[img(src="img/icons/cheveron.svg" alt="Rozbalit")]
            .nav-link(id="subToggle-0") Skříně #[img(src="img/icons/cheveron.svg" alt="Rozbalit")]
            .nav-submenu(id="sub-0")
                .nav-submenu__single.--all
                    a(href="/produkt-vypis.html").nav-submenu__title Zobrazit vše
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-12.col-lg-4
                                .nav-submenu__single    
                                    img.lazyload(src="img/load-symbol.svg" data-src="img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy

        .nav-item.expandable
            a.nav-linkDesktop(href="produkt-vypis.html") Postele #[img(src="img/icons/cheveron.svg" alt="Rozbalit")]
            .nav-link(id="subToggle-1") Postele #[img(src="img/icons/cheveron.svg" alt="Rozbalit")]
            .nav-submenu(id="sub-1")
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-12.col-lg-4
                                .nav-submenu__single    
                                    img.lazyload(src="img/load-symbol.svg" data-src="img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Šuplíky
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Komody
        .nav-item.expandable 
            a.nav-linkDesktop(href="produkt-vypis.html") Noční stolky #[img(src="img/icons/cheveron.svg" alt="Rozbalit")]
            .nav-link(id="subToggle-2") Noční stolky #[img(src="img/icons/cheveron.svg" alt="Rozbalit")]
            .nav-submenu(id="sub-2")
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-12.col-lg-4
                                .nav-submenu__single    
                                    img.lazyload(src="img/load-symbol.svg" data-src="img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy
            
        .nav-item.expandable
            a.nav-linkDesktop(href="produkt-vypis.html") Dřevěné krabičky #[img(src="img/icons/cheveron.svg" alt="Rozbalit")]
            .nav-link(id="subToggle-3") Dřevěné krabičky #[img(src="img/icons/cheveron.svg" alt="Rozbalit" )]
            .nav-submenu(id="sub-3")
                .container
                    .row 
                        - for (var i=0; i<3; i++)
                            .col-12.col-lg-4
                                .nav-submenu__single    
                                    img.lazyload(src="img/load-symbol.svg" data-src="img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy

        .nav-item 
            a.nav-link(href="produkt-vypis.html") Dřevěné boxy
            
        .nav-item-backdrop