a.news-single(href="/blog-detail.html")
    .news-single__top
        .news-single__dateWrap
            span.news-single__date 1. 1. 1970
        picture
            img.lazyload.news-single__img(src="img/load-symbol.svg" data-src="img/news-thumb-large.jpg" alt="#" title="#")

    .news-single__bottom

        p.news-single__title Lorem ipsum dolor sit amet, consectetur adipiscing elit