section.section-news
    .container
        h1.section-news__title Co je u nás v eshop.eline nového 
        .row
            .col-12.col-sm-12.col-md-4
                include _news-single.pug

            .col-12.col-sm-12.col-md-4
                include _news-single.pug

            .col-12.col-sm-12.col-md-4
                include _news-single.pug
                
        .section-news__btnWrap  
            a.btn(href="/blog-vypis.html") Starší aktuality
