a.news-single.--full(href="/blog-detail.html")
    .news-single__top
        .news-single__dateWrap
            span.news-single__date 1. 1. 1970
        img.lazyload.news-single__img(src="img/load-symbol.svg" data-src="img/news-thumb-large.jpg" alt="#" title="#")
    .news-single__bottom

        p.news-single__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p.news-single__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean placerat. Nulla quis diam. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Integer imperdiet lectus quis justo. Etiam dictum tincidunt diam. Integer vulputate sem a nibh rutrum consequat.