section.points
    .container 
        .row 
            .col-12.col-sm-6.col-lg-3
                .points-single
                    .points-single__icon 
                        img.lazyload(src="img/load-symbol.svg" data-src="img/point1.svg" alt="Doprava zdarma")
                    .points-single__content
                        strong Doprava zdarma 
                        span při nákupu nad 2 000 Kč
            .col-12.col-sm-6.col-lg-3
                .points-single
                    .points-single__icon 
                        img.lazyload(src="img/load-symbol.svg" data-src="img/point2.svg" alt="Záruka vrácení a výměny")
                    .points-single__content
                        strong Záruka vrácení a výměny
                        span zboží do 30 dní
            .col-12.col-sm-6.col-lg-3
                .points-single
                    .points-single__icon 
                        img.lazyload(src="img/load-symbol.svg" data-src="img/point3.svg" alt="Máme 10 000 produktů")
                    .points-single__content
                        strong Máme 10 000 produktů
                        span připravených skladem 
            .col-12.col-sm-6.col-lg-3
                .points-single
                    .points-single__icon 
                        img.lazyload(src="img/load-symbol.svg" data-src="img/point4.svg" alt="Odesíláme ihned")
                    .points-single__content
                        strong Odesíláme ihned
                        span objednávky přijaté do 12:00
