.searchAutocomplete(id="searchAutocomplete")
    .searchAutocomplete__section 
        .searchAutocomplete__title Produkty
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-detail.html") Dřevěná bedna na 2 vína CARMEN VI
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-detail.html") Dřevěná bedna na 2 vína CARMEN VI
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-detail.html") Dřevěná bedna na 2 vína CARMEN VI


    .searchAutocomplete__section 
        .searchAutocomplete__title Kategorie
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-vypis.html") Dřevěné krabičky
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-vypis.html") Dřevěné krabičky
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-vypis.html") Dřevěné krabičky