section.social
    .container
        h1 Z našeho Instagramu
        .instagram-wrap

            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig1.jpg" alt="#" width="220" height="220")

            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig2.png" alt="#" width="220" height="220")

            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig3.jpg" alt="#" width="220" height="220")

            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig4.jpg" alt="#" width="220" height="220")

            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig5.jpg" alt="#" width="220" height="220")

            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig6.jpg" alt="#" width="220" height="220")
                                                                            
            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig3.jpg" alt="#" width="220" height="220")

            a.instagram-single(href="#")
                img.lazyload(src="img/load-symbol.svg" data-src="img/instagram/ig1.jpg" alt="#" width="220" height="220")


        .row 
            .col-12.col-md-4
                .social-single
                    a.social-single__link(href="https://facebook.com/eshop.eline.cz")
                        .social-single__img
                            img.lazyload(src="img/load-symbol.svg" data-src="img/icons/facebook-big.svg" alt="Facebook" width="40" height="40")
                        .social-single__text Jsme také na Facebooku
            .col-12.col-md-4
                .social-single
                    a.social-single__link(href="https://youtube.com/channel/UC7EiBmqyRqSsxFQOrATcuUw")
                        .social-single__img
                            img.lazyload(src="img/load-symbol.svg" data-src="img/icons/youtube-big.svg" alt="Youtube" width="40" height="40")
                        .social-single__text Sledujte nás na Youtube
            .col-12.col-md-4
                .social-single
                    a.social-single__link(href="https://www.instagram.com/eshop.eline.cz/")
                        .social-single__img
                            img.lazyload(src="img/load-symbol.svg" data-src="img/icons/instagram-big.svg" alt="Instagram" width="40" height="40")
                        .social-single__text Sledujte nás na Instagramu
    