// Custom js plugins and scripts

script(src="js/micromodal.min.js")
script(src="js/cookiebar.min.js")
script(src="js/lazysizes.min.js")
script(src="js/instant.page.min.js")
script(src="js/siema.min.js")

script(src="js/scripts.js")

#styleSwitcher
    button(class="style-switcher" onclick="switchStyle('css/style.min.css')") 1
    button(class="style-switcher" onclick="switchStyle('css/style-2.min.css')") 2


// PWA init
script(src="upup.min.js")
script.
    UpUp.start({
    'content-url': 'offline.html',
    'assets': ['img/logo.svg']
    });


    document.getElementById('searchbox').addEventListener('keyup', function (e) {
        if(this.value.length >=1){
            document.getElementById('searchAutocomplete').classList.add('--active');
        }else{
            document.getElementById('searchAutocomplete').classList.remove('--active');
        }
    });
    document.getElementById('searchbox').addEventListener('click', function (e) {
        if(this.value.length >=1){
            document.getElementById('searchAutocomplete').classList.add('--active');
        }else{
            document.getElementById('searchAutocomplete').classList.remove('--active');
        }
    });
