@charset 'utf-8';

/* ========================================================================== */
/* BOOTSTRAP */
/* ========================================================================== */


@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/bootstrap-grid";


/* ========================================================================== */
/* VARIABLES */
/* ========================================================================== */

@import "variables/**/*";

/* ========================================================================== */
/* COMPONENTS */
/* ========================================================================== */

@import "components/**/*";

body {
    background: $white;
    color: $gray-900;
    font-family: $font-family-primary;
    overflow-x: hidden;
    font-size: 15px;
}

body.cart #navToggle {
    display: none;
}

a {
    color: $red-500;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $gray-900;
    }
}

img,
svg {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 500;
}

h1 {
    font-size: 36px;
}

small {
    font-size: 13px;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: 500;
}

.container {
    max-width: 1340px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin: 0 auto;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.row>* {
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 575px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .row>* {
        padding-right: 5px;
        padding-left: 5px;
    }
}

section {
    padding: 40px 0;
}

section h1 {
    font-size: 30px;
    padding-bottom: 40px;
    margin: 0;
    color: $gray-900;
}

@media screen and (max-width: 575px) {
    section {
        padding: 20px 0;
    }

    section h1 {
        font-size: 24px;
        padding-bottom: 20px;
    }
}

section.products {
    padding-bottom: 40px;
    padding-top: 0;
}

section.products h1 {
    padding-bottom: 20px;
}




#darkBackdrop {
    display: flex;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

@media screen and (max-width: 991px) {
    #darkBackdrop {}

    body.--nav-active #darkBackdrop {
        opacity: 1;
        pointer-events: auto;
    }

    body.--search-active #darkBackdrop {
        opacity: 1;
        pointer-events: auto;
    }

    body.--filter-active #darkBackdrop {
        opacity: 1;
        pointer-events: auto;
    }
}


.logout-wrap {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.delete-account {
    margin-top: 60px;
}

.delete-account h2 {
    margin-bottom: 10px;
}


.cart-aside__free-shipping {
    display: none;
}


#modal-ppl .modal__container {
    max-width: 100vw;
    max-height: 100vh;
}

#ppl-parcelshop-map .smap {
    touch-action: none;
    height: 80vh !important;
}

.infomessage {
    background-color: rgba($green-500, 0.1);
    color: $green-500;
    padding: 7px 15px;
    padding-left: 50px;
    background-image: url(../img/icons/info-green.svg);
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center left 15px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.3;
}


.review-thanks,
.review-error {
    background-color: rgba(57, 152, 65, .1);
    color: #399841;
    width: 100%;
    max-width: 820px;
    padding: 80px 110px 60px 110px;
    margin: 60px auto 40px auto;
    text-align: center;
}

.review-thanks h2,
.review-error h2 {
    padding-top: 30px;
    font-size: 26px;
}

.review-thanks img,
.review-error img {
    height: 80px;

}

.review-error {
    background-color: $gray-100;
    color: $gray-900;
}

.rating-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rating-box span {}

.rating-box .rating-container {
    direction: rtl !important;
    display: flex;
    justify-content: flex-end;
}

.rating-box .rating-container label {
    display: inline-block;

    color: #d4d4d4;
    cursor: pointer;
    font-size: 40px;
    line-height: 1;
    transition: color 0.2s;
}

.rating-box .rating-container input {
    display: none;
}

.rating-box .rating-container label:hover,
.rating-box .rating-container label:hover~label,
.rating-box .rating-container input:checked~label {
    color: gold;
}

@media screen and (max-width: 575px) {

    .review-thanks,
    .review-error {
        max-width: 100%;
        padding: 60px 20px 50px 20px;
        margin: 40px auto 40px auto;
    }
}

.cart-aside__code.disabled {
    display: none;
}



.product-detail__files-wrap {
    padding: 60px 0 0 0;
}

.product-detail__files-wrap h3 {
    margin-bottom: 20px;
}

.product-detail__files {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.product-detail__files a {
    border: 1px solid #e5e5e5;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    color: #222427;
}

.product-detail__files img {
    padding-left: 10px;
}

.product-detail__files span {
    flex-grow: 1;
    padding: 0 15px;
}

.product-detail__files .btn {
    min-height: 44px;
    padding: 0 15px;
    background: #f5f5f5;
    color: #222427;
}

@media screen and (max-width: 991px) {
    .product-detail__files {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .product-detail__files a {
        padding: 8px 15px;
    }
}

#styleSwitcher {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.style-switcher {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Additional styling for individual buttons */
.style-switcher:nth-child(1) {
    background-color: $red-500;
    color: white;
}

.style-switcher:nth-child(2) {
    background-color: $green-500;
    color: white;
}

.header-notice {
    background: $red-500;
    color: white;
    padding: 8px 0;
    font-size: 14px;
    text-align: center;
}

.header-notice a {
    color: white;
}

.header-notice a:hover {
    color: white;
}


.cart-page .header-main {
    background: black;
    padding: 40px 0;
}

.cart-page .header-main .search,
.cart-page .header-main #searchToggle,
.cart-page .header-main .header-nav {
    display: none;
}

.cart-page .header-main .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-page .header-main .logo-cart img {
    height: 40px;
    width: 100%;
}

.cart-content.--narrow .row {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 4px;
}

.cart-content.--narrow .row .col-md-8,
.cart-content.--narrow .row .col-md-4 {
    width: 100%
}

.cart-content.--narrow h1 {
    text-align: center;
}

.cart-content.--narrow .cart-aside {
    padding: 0;
    background: white;
    border: 0;
    outline: none;
}

.cart-content.--narrow .cart-aside__title {
    display: none;
}

.cart-content.--narrow .cart-aside__table {
    background: #F7F7F8;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-radius: $border-radius-main;
}

.cart-content.--narrow .row .cart-table {
    outline: 0;
    padding: 0;
}



.header-contact {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid $gray-300;
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-contact-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($green-500, 0.1);
}

.header-contact-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-contact-content a {
    font-size: 18px;
    line-height: 1;
    color: $gray-900;
}

.header-contact-content small {
    font-size: 14px;
    line-height: 1;
    color: $gray-500;
}

@media screen and (max-width: 991px) {
    .header-contact {
        display: none;
    }
}


section.categories {
    display: none;
}

.product-detail__topParameters {
    padding-bottom: 40px;
    width: 100%;
}

.product-detail__topParameters table {
    width: 100%;
    font-size: 14px;
}

.product-detail__topParameters table td {
    padding: 8px 10px;
}

.product-detail__topParameters table tr:nth-child(odd) {
    background-color: #f7f7f8;
}

.product-detail__topParameters table tr td:first-child {
    color: #6e6e6e;
}

.product-detail__topParameters table tr td:last-child {
    text-align: right;
}

.homepage-about {
    background: #F7F7F8;
    padding: 0;
}

.homepage-about__wrap {
    display: flex;
    align-items: center;
    gap: 60px;
}

.homepage-about__content {
    width: 40%;
    flex-shrink: 0;
    padding: 40px 0;
}

.homepage-about__subtitle {
    color: #D31217;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 10px;
    display: flex;
}

.homepage-about__title {
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 40px;
}

.homepage-about__title span {
    font-weight: 400;
}

.homepage-about__img {
    width: 60%;
    flex-shrink: 0;
}

.homepage-about__content p {
    color: #6E6E6E;
}

.homepage-about__btns {
    margin-top: 40px;
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 991px) {
    .homepage-about__wrap {
        flex-direction: column;
        gap: 0px;
    }

    .homepage-about__content {
        width: 100%;
        padding: 40px 0;
    }

    .homepage-about__img {
        width: 100%;
        flex-shrink: 0;
    }
}

.nav-links-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-links-right .nav-link {
    font-weight: 300;
    font-size: 14px;
    padding: 0 15px;
}